.mainPage {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.secondList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
